#tweets-container {
  margin-bottom: 400px;
}

/* For each submitted tweet */
.tweet {
  margin: 60px 0;
  border: 5px solid #545149;
}

.tweet header {
  display: flex;
  align-items: center;
}

.tweet img {
  margin: 15px 5px 15px 15px;
  width: 60px;
  display: flex;
  flex-shrink: 10px;
}

.tweet span.handle {
  font-weight: bolder;
  opacity: 0.5;
  margin-left: auto;
  margin-right: 1em;
  color: #4056A1;
}

.tweet p {
  font-weight: bolder;
  border-bottom: 5px solid #545149;
  padding: 0.1em 1em 1.5em;
  margin: 1em 0.5em 0.5em 0.5em;

}

.tweet footer {
  font-size: 0.7em;
  font-weight: bolder;
  display: flex; 
  justify-content: space-between;
  margin: 0 2em 1em 2em;
}

.tweet footer span {
  color: #4056A1
}

.tweet footer i {
  padding: 0 3px;
}

.tweet:hover {
  box-shadow: 6px 5px #4056A156;
}

.tweet footer i:hover {
  color: #ebab34;
}